@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    --color-bg-light: #f9f7f7;
    --color-surface: #dbe2ef;
    --color-brand: #3f72af;
    --color-brand-dark: #112d4e;
    --color-app-bg: var(--color-bg-light);
    --color-app-surface: var(--color-surface);
    --color-app-primary: var(--color-brand);
    --color-app-navy: var(--color-brand-dark);

    --gradient-brand: linear-gradient(
      90deg,
      var(--color-app-navy) 0%,
      var(--color-app-primary) 45%,
      var(--color-app-surface) 100%
    );
  }
}
